<div class="game-menu">
    <div class="game-menu-input-box">
        <label>&nbsp;rows</label><br />
        <input type="text" #numOfRowsUserInput [value]="numOfRows" (input)="onlyNumbersInput(numOfRowsUserInput, 100)" />
    </div>

    <div class="game-menu-input-box">
        <label>&nbsp;columns</label><br />
        <input type="text" #numOfColsUserInput [value]="numOfCols" (input)="onlyNumbersInput(numOfColsUserInput, 100)" />
    </div>

    <div class="game-menu-input-box">
        <label>&nbsp;mines</label><br />
        <input type="text" #numOfMinesInTableUserInput [value]="numOfMinesInTable" (input)="onlyNumbersInput(numOfMinesInTableUserInput, 50)">
    </div>

    <div class="game-menu-input-box">
        <div class="game-menu-warning">
            <ng-container *ngIf="uiTooMuchMinesShowWarning">Too much mines!</ng-container>
        </div>
        <button class="button-create-table" (click)="createTableFromUserInput(numOfRowsUserInput.value, numOfColsUserInput.value, numOfMinesInTableUserInput.value)">
            Start game
        </button>
        <button class="button-reveal-table" (mousedown)="revealTable = true" (mouseup)="revealTable = false" title="Reveale table">&#9732;</button>
    </div>
</div>

<div class="game-finished-message">
    &nbsp;
    <span *ngIf="gameOver" class="game-over-message">You stepped on a mine!</span>
    <span *ngIf="gameSucessfullyFinished" class="game-sucessfully-finished-message">You sucessfuly found all mines!</span>
</div>

<div class="mines-table">
    <div *ngFor="let row of mineTableContent; let rowIndex = index" class="table-row">
        <div *ngFor="let column of row; let colIndex = index" 
                (click)="revealCellAndContentAround(rowIndex, colIndex)" 
                class="table-col"
                [class.table-cell-closed]="mineTableVisibility[rowIndex][colIndex] == 0" 
                [class.table-cell-opened]="mineTableVisibility[rowIndex][colIndex] != 0 || revealTable">
            <ng-container *ngIf="mineTableVisibility[rowIndex][colIndex] != 0 || revealTable">
                <ng-template [ngIf]="mineTableContent[rowIndex][colIndex] == mineLabel">
                    &#10057;
                </ng-template>
                <span *ngIf="mineTableContent[rowIndex][colIndex] > 0"
                    [class.table-cell-number-one]="mineTableContent[rowIndex][colIndex] == 1"
                    [class.table-cell-number-two]="mineTableContent[rowIndex][colIndex] == 2"
                    [class.table-cell-number-big]="mineTableContent[rowIndex][colIndex] >= 3">
                    {{mineTableContent[rowIndex][colIndex]}}
                </span>
            </ng-container>
        </div>
    </div>
</div>