<div class="page-content">

    <div class="game-menu">
        <div class="game-menu-input-box">
            <label>rows</label><br />
            <input type="number" #numOfRowsUserInput [value]="numOfRows" min="5" max="100" onkeydown="return false">
        </div>

        <div class="game-menu-input-box">
            <label>columns</label><br />
            <input type="number" #numOfColsUserInput [value]="numOfCols" min="5" max="100" onkeydown="return false">
        </div>

        <div class="game-menu-input-box">
            <label>mines</label><br />
            <input type="number" #numOfMinesInTableUserInput [value]="numOfMinesInTable" min="1" max="100" onkeydown="return false">
        </div>

        <div *ngIf="uiTooMuchMinesShowWarning" class="game-menu-warning">
            Too much mines!
        </div>

        <button 
            class="button-create-table"
            (click)="createTableFromUserInput(numOfRowsUserInput.value, numOfColsUserInput.value, numOfMinesInTableUserInput.value)">
            Create table
        </button>
    </div>

    <div>
        <button class="button-reveal-table" (click)="revealMineTable()">&#9732;</button>
        <span *ngIf="gameOver" style="color:red;">You stepped onto mine!</span>
    </div>

    <div class="mines-table">
        <table style="table-layout: fixed;" style="cursor:pointer">
            <tr *ngFor="let row of mineTableContent; let rowIndex = index">
                <td *ngFor="let column of row; let colIndex = index" style="width: 18px;">
                    <span *ngIf="mineTableVisibility[rowIndex][colIndex] == 0; else showMineTableContent" (click)="revealCellAndContentAround(rowIndex, colIndex)"
                        style="font-weight:bold;">x</span>
                    <ng-template #showMineTableContent>
                        <span *ngIf="mineTableContent[rowIndex][colIndex] == mineLabel; else showMineTableValue">*</span>
                        <ng-template #showMineTableValue>{{mineTableContent[rowIndex][colIndex]}}</ng-template>
                    </ng-template>
                </td>
            </tr>
        </table>
    </div>
</div>