<label for="num-of-rows">Number of rows:</label>
<input type="number" id="num-of-rows" #numOfRowsUserInput [value]="numOfRows">
<br />
<label for="num-of-col">Number of columns:</label>
<input type="number" id="num-of-col" #numOfColsUserInput [value]="numOfCols">
<br />
<label for="num-of-mines-in-table">Number of mines in table:</label>
<input type="number" id="num-of-mines-in-table" #numOfMinesInTableUserInput [value]="numOfMinesInTable">
<span *ngIf="uiTooMuchMinesShowWarning" style="color:red">
    This much mines!
</span>
<br />
<button 
(click)="createTableFromUserInput(numOfRowsUserInput.value, numOfColsUserInput.value, numOfMinesInTableUserInput.value)">
    Create table
</button>

<button 
(click)="revealMineTable()">
    Reveal table
</button>

<span *ngIf="gameOver" style="color:red;">You stepped onto mine!</span>

<table style="table-layout: fixed;" style="cursor:pointer">
    <tr *ngFor="let row of mineTableContent; let rowIndex = index">
        <td *ngFor="let column of row; let colIndex = index" style="width: 18px;">
            <span *ngIf="mineTableVisibility[rowIndex][colIndex] == 0; else showMineTableContent"
                (click)="revealCellAndContentAround(rowIndex, colIndex)" style="font-weight:bold;">x</span>
            <ng-template #showMineTableContent>
                <span *ngIf="mineTableContent[rowIndex][colIndex] == mineLabel; else showMineTableValue">*</span>
                <ng-template #showMineTableValue>{{mineTableContent[rowIndex][colIndex]}}</ng-template>
            </ng-template>
        </td>
    </tr>
</table>